* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #E8E9EA;
    height: 100vh;
    display: grid;
    grid-template-rows: 120px 5fr;
    grid-template-columns: 1fr 5fr;
}

header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #22303D; 
    border-bottom: 3px solid #6E47FB;
}

header .logo {
    display: flex;
    margin: 0 auto;
}

header .logo h1 {
    line-height: 120px;
    font-size: 50px;
    font-weight: bold;
    margin: 0 auto;
}

main {
    background-color: #192734;
    grid-area: 2 / 2 / 3 / 3;
}

.current-list {
    padding: 20px 40px;
    margin: 0 auto;
    width: 900px;
}

main h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

main .current-list button {
    border: none;
    background: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #E8E9EA;
    border-radius: 8px;
}

sidebar {
    background-color: #15202B;
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
}

.list-menu {
    padding-top: 20px;
    margin-bottom: 30px;
}

sidebar button {
    border: none;
    background-color: #22303D;
    height: 48px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #E8E9EA;
}


sidebar button:focus {
    background-color: #6E47FB;
    color: black;
}

.list-menu, .projects-menu {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.list-menu button, .projects-menu button {
    width: 100%;
}

.logo img {
    height: 120px;
    width: 120px;
}

.projects-menu h2 {
    margin-bottom: 20px;
}